<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

<style>

/* Progress indicator*/


.progress-indicator {
 margin-bottom: 20px; margin-top: -40px;	zoom: 1
}
.progress-indicator:before, .progress-indicator:after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden
}
.progress-indicator:after {
	clear: both
}
.progress-indicator ol {
	list-style:  none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #dee0e2;
	zoom: 1
}
.progress-indicator ol:before, .progress-indicator ol:after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden
}
.progress-indicator ol:after {
	clear: both
}
.progress-indicator li {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	margin-top: .8rem;
	margin-right: 2.4rem;
	padding-bottom: 1px;
	border-bottom: .3rem solid transparent;
	white-space: nowrap;
	color: #6f777b
}

@media (min-width: 641px) {
.progress-indicator li {
	font-size: 19px;
	line-height: 1.3157894737
}
}
.progress-indicator li a {
	color: #6f777b;
	text-decoration: none;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis
}
.progress-indicator li a:hover, .progress-indicator li a:active, .progress-indicator li a:focus {
	background-color: transparent;
	outline-color: transparent
}
.progress-indicator li.show-all {
	display: none;
	left: 0;
	list-style-type: none;
	width: 40%;
	margin-left: 60%
}
.progress-indicator li.show-all a {
	display: block;
	visibility: hidden;
	color: #005ea5;
	text-align: center
}
.progress-indicator li.show-all a:hover {
	color: #2b8cc4
}
.progress-indicator li.current {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-weight: 700;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	display: list-item;
	border-bottom: .4rem solid #0b0c0c;
	color: #0b0c0c
}

@media (min-width: 641px) {
.progress-indicator li.current {
	font-size: 19px;
	line-height: 1.3157894737
}
}
.progress-indicator li.current a {
	color: #0b0c0c;
	cursor: default;
	-webkit-tap-highlight-color: transparent
}
.progress-indicator li.current a:before {
	content: ''
}
.progress-indicator li.active {
	color: #005ea5
}
.progress-indicator li.active a {
	color: #005ea5;
	cursor: pointer
}
.progress-indicator li.active a:focus {
	background-color: #ffbf47;
	outline: .3rem solid #ffbf47
}
.progress-indicator li.active a:hover, .progress-indicator li.active a:active {
	color: #2b8cc4
}
.progress-indicator li.inactive {
	color: #6f777b
}
.progress-indicator li.inactive a {
	-webkit-tap-highlight-color: transparent
}
.progress-indicator.reveal li {
	display: none
}
.progress-indicator.reveal li.show-all {
	display: block
}
.progress-indicator.reveal li.current {
	display: list-item;
	float: left;
	width: 60%;
	list-style-type: none
}
.progress-indicator.reveal li.current a:before {
	content: attr(data-nav-position)
}

@media (min-width: 769px) {
.progress-indicator, .progress-indicator.reveal {
	padding-top: 1rem
}
.progress-indicator li, .progress-indicator.reveal li {
	float: left;
	display: list-item
}
.progress-indicator li.current, .progress-indicator.reveal li.current {
	list-style-type: ;
	width: auto
}
.progress-indicator li.current a:before, .progress-indicator.reveal li.current a:before {
	display: none
}
.progress-indicator li.show-all, .progress-indicator.reveal li.show-all {
	display: none
}
}

.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

	
@media (min-width: 769px) {
  .govuk-check-your-answers {
    display: table;
  }
}

.govuk-check-your-answers > * {
  position: relative;
  border-bottom: 1px solid #bfc1c3;
	font-family: Helvetica, Arial, "sans-serif"
}

@media (min-width: 769px) {
  .govuk-check-your-answers > * {
    display: table-row;
    border-bottom-width: 0;
  }
}

.govuk-check-your-answers > * > * {
  display: block;
}

@media (min-width: 769px) {
  .govuk-check-your-answers > * > * {
    display: table-cell;
    border-bottom: 1px solid #bfc1c3;
    padding: 0.63158em 1.05263em 0.47368em 0;
    margin: 0;
  }
}

@media (min-width: 769px) {
  .govuk-check-your-answers > *:first-child > * {
    padding-top: 0;
  }
}

.govuk-check-your-answers .cya-question {
  font-weight: bold;
  margin: 0.63158em 4em 0.21053em 0;
}

.govuk-check-your-answers > *:first-child .cya-question {
  margin-top: 0;
}

@media (min-width: 769px) {
  .govuk-check-your-answers.cya-questions-short, .govuk-check-your-answers.cya-questions-long {
    width: 100%;
  }
  .govuk-check-your-answers.cya-questions-short .cya-question {
    width: 20%;
  }
  .govuk-check-your-answers.cya-questions-long .cya-question {
    width: 50%;
  }
}

.govuk-check-your-answers .cya-answer {
  padding-bottom: 0.47368em;
}

.govuk-check-your-answers .cya-change {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 769px) {
  .govuk-check-your-answers .cya-change {
    position: static;
    padding-right: 0;
  }
}

.check-your-answers td {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  vertical-align: top;
}

@media (min-width: 641px) {
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.check-your-answers .change-answer {
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

@media (min-width: 641px) {
  .column-minimum {
    min-width: 600px;
  }
}


	
	
</style>