// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* Progress indicator*/


.progress-indicator {
	zoom: 1; margin-bottom: 20px; margin-top: -40px; 
}
.progress-indicator:before, .progress-indicator:after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden
}
.progress-indicator:after {
	clear: both
}
.progress-indicator ol {
	list-style: decimal inside;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #dee0e2;
	zoom: 1
}
.progress-indicator ol:before, .progress-indicator ol:after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden
}
.progress-indicator ol:after {
	clear: both
}
.progress-indicator li {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	margin-top: .8rem;
	margin-right: 2.4rem;
	padding-bottom: 1px;
	border-bottom: .5rem solid transparent;
	white-space: nowrap;
	color: #6f777b
}

@media (min-width: 641px) {
.progress-indicator li {
	font-size: 19px;
	line-height: 1.3157894737
}
}
.progress-indicator li a {
	color: #6f777b;
	text-decoration: none;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis
}
.progress-indicator li a:hover, .progress-indicator li a:active, .progress-indicator li a:focus {
	background-color: transparent;
	outline-color: transparent
}
.progress-indicator li.show-all {
	display: none;
	left: 0;
	list-style-type: none;
	width: 40%;
	margin-left: 60%
}
.progress-indicator li.show-all a {
	display: block;
	visibility: hidden;
	color: #005ea5;
	text-align: center
}
.progress-indicator li.show-all a:hover {
	color: #2b8cc4
}
.progress-indicator li.current {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-weight: 700;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	display: list-item;
	border-bottom: .5rem solid #0b0c0c;
	color: #0b0c0c
}

@media (min-width: 641px) {
.progress-indicator li.current {
	font-size: 19px;
	line-height: 1.3157894737
}
}
.progress-indicator li.current a {
	color: #0b0c0c;
	cursor: default;
	-webkit-tap-highlight-color: transparent
}
.progress-indicator li.current a:before {
	content: ''
}
.progress-indicator li.active {
	color: #005ea5
}
.progress-indicator li.active a {
	color: #005ea5;
	cursor: pointer
}
.progress-indicator li.active a:focus {
	background-color: #ffbf47;
	outline: .3rem solid #ffbf47
}
.progress-indicator li.active a:hover, .progress-indicator li.active a:active {
	color: #2b8cc4
}
.progress-indicator li.inactive {
	color: #6f777b
}
.progress-indicator li.inactive a {
	-webkit-tap-highlight-color: transparent
}
.progress-indicator.reveal li {
	display: none
}
.progress-indicator.reveal li.show-all {
	display: block
}
.progress-indicator.reveal li.current {
	display: list-item;
	float: left;
	width: 60%;
	list-style-type: none
}
.progress-indicator.reveal li.current a:before {
	content: attr(data-nav-position)
}

@media (min-width: 769px) {
.progress-indicator, .progress-indicator.reveal {
	padding-top: 1rem
}
.progress-indicator li, .progress-indicator.reveal li {
	float: left;
	display: list-item
}
.progress-indicator li.current, .progress-indicator.reveal li.current {
	list-style-type:none 
	width: auto
}
.progress-indicator li.current a:before, .progress-indicator.reveal li.current a:before {
	display: none
}
.progress-indicator li.show-all, .progress-indicator.reveal li.show-all {
	display: none
}
}
/*.secure-exit {
	padding: 4rem 0
}
.hidden {
	display: none;
	visibility: hidden
}
[aria-hidden=true] {
	display: block
}
.js-enabled [aria-hidden=true] {
	display: none
}


.grey-text{
color:#6f777b; margin: 0px;	padding: 0px;
}

.blue-bold-text{
color:#005EA5;; margin: 0px;	padding: 0px;font-weight: bold;
}

.small-text{font-size: 70%;
}

.dashboard-box-link a:hover .govuk-box-highlight {
	background-color:#006435;
	outline-color: transparent;
	text-align: left;
	
	
	
}
.dashboard-box-link a .govuk-box-highlight, .dashboard-box-link a {
	text-decoration: none;
	text-align: left;
}

.task-incomplete{ background-color:#F8F8F8; text-transform: uppercase; padding: 2px 8px 0;font-size: 16px;
line-height: 1.25; font-weight: 600; color:#6F777B;}

.task-new{ background-color:#F63336; text-transform: uppercase; padding: 2px 8px 0;font-size: 16px;
line-height: 1.25; font-weight: 600; color:#fff;}

.task-in-progress{background-color:#4C2C92; text-transform: uppercase; padding: 2px 8px 0;font-size: 16px;
line-height: 1.25; font-weight: 600; color:#fff;}
.temp-notification{ position:relative; background-image: url("/public/images/notification-my-account.png");
background-repeat: no-repeat;
background-position: 100% 50%; background-size: cover; display:inline-block;  width: 70px; height: 37px; float:right;}


.page-contents__list li{font-family:"nta", Arial, sans-serif;font-weight:400;text-transform:none;font-size:14px;line-height:1.1428571429;list-style-type:none;margin-bottom:15px;margin-left:0px;margin-right:20px;padding-right:10px; border-bottom: 0px solid #ccc; }@media (min-width: 641px){.page-contents__list li{font-size:16px;border-bottom: 0px solid #f0f0f0; line-height:1.25}}.page-contents__list li:before{content:"";float:left;display:block;width:10px;margin-left:-10px}.page-contents__list a{text-decoration:underline;letter-spacing:0.022em}.page-contents__list a:hover,.page-contents__list a:focus,.page-contents__list a:active{text-decoration:none}.page-contents__list .active{letter-spacing:0;font-weight:bold }.page-header{margin-bottom:15px;margin-top:15px}

.page-contents__list li.current{display: block;
padding: 8px 10px 8px 10px;
border-left: 4px solid #005EA5;
color: #005ea5;
background: inherit;
text-decoration: none;
font-weight: bold;
}*/

.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

