{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}




<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full column-minimum">

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row-">
      <div class="govuk-grid-column-two-thirds-">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           Scheme AAA1 has been updated
          </h1>
          <div class="govuk-panel__body">
            Your reference number
            <br><strong>HDJ2123F</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We’ve sent your application to Hackney Electoral Register Office.
        </p>
        <p class="govuk-body">
          They will contact you either to confirm your registration, or to ask for more information.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>

      <p>
        We have sent you a confirmation email. Return to <a href="-la-dashboard.html">Dashboard</a>
      </p>

      <h2 class="heading-medium">What happens next</h2>
      <p>We’ve sent your application to West London Family Court. Payment for the application will be processed through the accounts team.</p>
      <p>They will contact you either to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li> schedule a hearing for the case and send out standard directions
        </li>
        <li> ask you for more information</li>

      </ul>

		 <p></p>
      <p><a href="-feedback">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
