{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}




<main id="content" role="main">

  <div class="grid-row" style="margin-top: -60px;">
    <div class="column-full column-minimum">

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row-">
      <div class="govuk-grid-column-two-thirds-">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           Scheme AAA1 has been updated
          </h1>
          <div class="govuk-panel__body">
            Your reference number
            <br><strong>HDJ2123F</strong>
          </div>
        </div>

        <p class="govuk-body">Legimus an quo, usu intellegat rationibus consetetur.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
			Consulte ne alia intellegam. Habeo dolore philosophia eos no
          <!--We’ve sent the data to AAA team so changes can be incorporated into the central database.-->  
        </p>
        <p class="govuk-body">
			Lorem ipsum dolor sit amet, brute errem simul nec eu, has rationibus contentiones in. An eam tota epicurei ponderum, vis et nihil consulatu. Mei ferri urbanitas contentiones ea, mei sale voluptaria ex, sint omnis latine an usu. Quo at primis senserit iracundia, quo ne alia intellegam. Habeo dolore philosophia eos no, id indoctum deterruisset qui, natum tractatos suscipiantur mel ne. Harum soluta legimus an quo, usu intellegat rationibus consetetur jdhdjr.</p>
			<p class="govuk-body">
          
        </p>
<a href="home-page.html"> Reeturn to home page</a>
        
      </div>
    </div>
  </main>
</div>

     


    </div>
  </div>

</main>

{% endblock %}
