{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}




<main id="content" role="main">

  <div class="grid-row" style="margin-top: -60px;">
    <div class="column-full column-minimum">

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row-">
      <div class="govuk-grid-column-two-thirds-">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           Scheme AAA1 has been updated
          </h1>
          <div class="govuk-panel__body">
            Your reference number
            <br><strong>HDJ2123F</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We’ve sent the data to AAA team so changes can be incorporated into the central database.  
        </p>
        <p class="govuk-body">
			You should allow roughly 20 minutes per project to input this into the database, once you have it to hand. Please note that you can also make changes in multiple sittings if you save this workbook locally, these can be submitted in the generated email once final.</p>
			<p class="govuk-body">
          They will contact you either to confirm changes, or to ask for more information.
        </p>

        
      </div>
    </div>
  </main>
</div>

     


    </div>
  </div>

</main>

{% endblock %}
