
{% extends "layout.html" %}

{% block pageTitle %}
  Value for Money (VfM) Database and Data Collection Tool
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Value for Money (VfM) Database and Data Collection Tool
       <!-- <span class="govuk-caption-xl">v1.1</span>-->
      </h1>
      
<h2 class="govuk-heading-m">Add a new project</h2>
		
		<a href="s-1" role="button" draggable="false" class="govuk-button govuk-button--start">
  Add a new project
</a>
		
		<h2 class="govuk-heading-m">Search projects </h2>
		
		
		<div class="govuk-form-group">
  <label class="govuk-label" for="Group">
    Group
  </label>
  <select class="govuk-select" id="Group" name="Group">
    <option value="Roads, Devolution and Motoring Group">Roads, Devolution and Motoring Group </option>
    <option value="High Speed and Major Rail Projects Group" selected>High Speed and Major Rail Projects Group </option>
    <option value="Resources and Strategy Group<">Resources and Strategy Group</option>
    <option value="International, Security and Environment Group">International, Security and Environment Group </option>
  </select>
</div>
		
	

		<div class="govuk-form-group">
  <label class="govuk-label" for="Directorate">
 Directorate	
  </label>
  <select class="govuk-select" id="Directorate" name="Directorate">
    
    <option value="Major Rail Projects Developmen" selected>Major Rail Projects Development</option>
    <option value="Phase 1 HS2 ">Phase 1 HS2 </option>
	  <option value="Phase 2
and Northern Powerhouse Rail">Phase 2
and Northern Powerhouse Rail </option>
    <option value="Programme Integration">Programme Integration</option>
  </select>
</div>
		
		<button type="submit" class="govuk-button">
  Search 
</button>
		
		
		<h2 class="govuk-heading-m">
        Search results   </h2>
<p class="form-hint">View or edit project information
	
		</p>

      <dl class="govuk-check-your-answers cya-questions-short">
		  <div >
          <dt class="cya-question ">
            Scheme Name
          </dt>
			  <dd class="cya-answer app-mobile-hide-2">
           <strong style="font-weight: bold;"> Group  </strong>
          </dd>
			<dd class="cya-answer app-mobile-hide-2">
           <strong style="font-weight: bold;"> Directorate  </strong>
          </dd>
			  <dd class="cya-answer app-mobile-hide-2">
           <strong style="font-weight: bold;"> Project Type </strong>
          </dd>
          <dd class="cya-answer app-mobile-hide-2">
          <strong style="font-weight: bold;"> Senior Responsible Owner </strong>
          </dd>
          <dd class="cya-change">

         <strong style="font-weight: bold;"> Action</strong>

          </dd>
        </div>
        <div>
          <dt class="cya-question">
          <a href="g-process-application-b.html"> AAA/1001 - AAA1 </a> 
          </dt>
			<dd class="cya-answer">
           <span class="task-new"> Resources and Strategy Group </span>
			  </dd>
			<dd class="cya-answer">
            Phase 1 HS2
          </dd>
			<dd class="cya-answer">
            Competitive fund
          </dd>
          <dd class="cya-answer">
            Joe Bloggs
          </dd>
          <dd class="cya-change">

             <a href="g-process-application-b.html">  View/edit</a><span class="visually-hidden">  data</span>

          </dd>
        </div>
		  <div>
          <dt class="cya-question">
          <a href="g-process-application-b.html"> AAA/1001 - AAA1 </a> 
          </dt>
			<dd class="cya-answer">
           <span class="task-new"> Resources and Strategy Group </span>
			  </dd>
			<dd class="cya-answer">
            Phase 1 HS2
          </dd>
			<dd class="cya-answer">
             Grant fund 
          </dd>
          <dd class="cya-answer">
            Joe Bloggs
          </dd>
          <dd class="cya-change">

             <a href="g-process-application-b.html">  View/edit</a><span class="visually-hidden">  data</span>

          </dd>
        </div>
		  <div>
          <dt class="cya-question">
          <a href="g-process-application-b.html"> AAA/1001 - AAA1 </a> 
          </dt>
			<dd class="cya-answer">
           <span class="task-new"> Resources and Strategy Group</span>
			  </dd>
			<dd class="cya-answer">
            Phase 1 HS2
          </dd>
			<dd class="cya-answer">
             Grant fund 
          </dd>
          <dd class="cya-answer">
            Joe Bloggs
          </dd>
          <dd class="cya-change">

             <a href="g-process-application-b.html">  View/edit</a><span class="visually-hidden">  data</span>

          </dd>
        </div>
		  

      </dl>
		
		
		
		
		
		
      <h2 class="govuk-heading-m">Pages</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="start-page.html">Start page</a></li>
        <li>
          <a href="s-1.html">
            Section 1
          </a>
        </li>
		   <li>
          <a href="s-2.html">
            Section 2
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
