
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Value for Money (VfM) Database and Data Collection Tool
        <span class="govuk-caption-xl">v1.1</span>
      </h1>
       <h2 class="govuk-heading-m"> What is the VfM Database?
										 </h2>
										 
										 <p> The VfM database is a central source of VfM data on investment proposals that are planned, in development or that have been approved.</p>
										 
										  <p>

This tool contains sensitive data. Circulation is restricted to those who are responsible for inputting or approving data into the database. The AAA team maintain a list of who has been given access to the database. If you wish to share the database with a colleague please notify AAA before doing so.  Please note, the database should NOT be circulated outside the central Department. If this is considered necessary, please contact AAA to discuss.
</p>
																	 <h2 class="govuk-heading-m"> What is the VfM information used for? 

										 </h2>
										 
										 <p> The VfM information is used to monitor, inform and support decision making across the department. It is regularly used for reporting on DfT's performance in VfM and has previously been used for analysis to shape the Department's Strategic Priorities (including the Transport Investment Strategy and Spending Review Bids).
</p>
										 
										  <p>This tool and the data collected in this update will be used to support preparations for the next Spending Review Bid.
</p>		
     


      <h2 class="govuk-heading-m">Pages</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="start-page.html">Start page</a></li>
        <li>
          <a href="section-1.html">
            Section 1
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
