{% extends "layout.html" %}

{% block pageTitle %}
 Value for Money (VfM) Database and Data Collection Tool
{% endblock %}

{% block header %}

  {{ govukHeader({
    "homepageUrl": "/",
    "containerClasses": "govuk-width-container"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"  ">

      <h1 class="govuk-heading-l">
		   <span class="govuk-caption-xl">  Department for transport</span>
      Value for Money (VfM) Database and Data Collection Tool <!-- {% if serviceName %} {{ serviceName }} {% endif %}-->
      </h1>
										 
										 <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>review and update existing information about projects</li>
		<li>add information about new projects</li>
        <li>search for projects and create entries for new projects </li>
       
      </ul>
											   <a class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" href="home-page" role="button">Start now</a>

<div class="govuk-accordion" data-module="accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
         What is the VfM Database?
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      	 <p> The VfM database is a central source of VfM data on investment proposals that are planned, in development or that have been approved.</p>
										 
										  <p>

This tool contains sensitive data. Circulation is restricted to those who are responsible for inputting or approving data into the database. The AAA team maintain a list of who has been given access to the database. If you wish to share the database with a colleague please notify AAA before doing so.  Please note, the database should NOT be circulated outside the central Department. If this is considered necessary, please contact AAA to discuss.
</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
        What is the VfM information used for? 

        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
       <p> The VfM information is used to monitor, inform and support decision making across the department. It is regularly used for reporting on DfT's performance in VfM and has previously been used for analysis to shape the Department's Strategic Priorities (including the Transport Investment Strategy and Spending Review Bids).
</p>
										 
										  <p>This tool and the data collected in this update will be used to support preparations for the next Spending Review Bid.
</p>	
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
         How does it work?

        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>The tool will allow you to review and update existing information and add information about new projects. This information is held on a central database managed by the AAA team. When an update is due, the latest version of the database will be sent out. 
</p>
	<p>You can easily search for projects and create entries for new projects on the next page. Any individual can submit or edit information on the database. Any changes will be logged and attributed to that individual. You can find more information on how to use this excel tool in 'Instructions for database' (attached to the commissioning email).
 </p>
																															
	<p>Once all relevant information has been input or updated, a copy of the workbook should be sent to the AAA team so changes can be incorporated into the central database.

 </p>

																															
	<p>Please note, we treat the information provided as single source of truth. As such it should be signed off by a member of the SCS before being submitted. In 'Section 1: Project Management and Strategic Alignment' you are being asked whether the project has been signed off by the nominated SCS. Please ensure that you answer this question.


 </p>
																															
																															
																																
																																
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
         How long will it take to update the database?

        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>You should allow roughly 20 minutes per project to input this into the database, once you have it to hand. Please note that you can also make changes in multiple sittings if you save this workbook locally, these can be submitted in the generated email once final.
</p>
    </div>
  </div>

</div>
										 
										<!-- <h2 class="govuk-heading-m"> What is the VfM Database?
										 </h2>
										 
										 <p> The VfM database is a central source of VfM data on investment proposals that are planned, in development or that have been approved.</p>
										 
										  <p>

This tool contains sensitive data. Circulation is restricted to those who are responsible for inputting or approving data into the database. The AAA team maintain a list of who has been given access to the database. If you wish to share the database with a colleague please notify AAA before doing so.  Please note, the database should NOT be circulated outside the central Department. If this is considered necessary, please contact AAA to discuss.
</p>
																	 <h2 class="govuk-heading-m"> What is the VfM information used for? 

										 </h2>
										 
										 <p> The VfM information is used to monitor, inform and support decision making across the department. It is regularly used for reporting on DfT's performance in VfM and has previously been used for analysis to shape the Department's Strategic Priorities (including the Transport Investment Strategy and Spending Review Bids).
</p>
										 
										  <p>This tool and the data collected in this update will be used to support preparations for the next Spending Review Bid.
</p>																	
      -->

     <p></p>
    	

      

      <!--<h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="https://www.gov.uk/government/publications/form-c110a-application-for-a-care-or-supervision-order-or-an-emergency-protection-order" target="_blank">download PDF form </a>and apply by post or email.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>-->

      <!--<p>You can’t register for this service if you’re in the UK illegally.</p>-->

    </div>

    <div class="govuk-grid-column-one-third" style="display: none;">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
