{% extends "layout.html" %}

{% block page_title %}

Vfm - section 1
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full column-minimum">

     

<nav role="navigation" class="progress-indicator reveal">
    <ol>
         <li class="current">
                <a data-nav-position="1 of 6: " href="s-01.html">
                    Section 1
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>   
		
		<li class="inactive">
                <a data-nav-position="2 of 6: " href="c110a-02.html">
                    Section 2
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="3 of 6: " href="c110a-03.html">
                    Section 3
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="4 of 6: " href="c110a-04.html">
                    Section 4
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="5 of 6: " href="c110a-05.html">
                    Section 5
                    
                </a>
            </li>
		 <li class="inactive">
                <a data-nav-position="6 of 6: " href="c110a-06.html">
                    Review
                    
                </a>
            </li>
            
        <li class="show-all"><a style="visibility: visible;">Show all steps</a></li>
    </ol>
</nav>


      <h1 class="heading-large">
        Applicant  
      </h1>
<h2 class="heading-small"> Applicant details are pre-filled with information that was entered when Local Authority's account was created. Please check if the details are correct.   </h2>
<hr/>
		
	
		
	
		
		<form action="c110a-02">
			
<!-- Full name of Applicant -->
<div class="form-group">
  <label class="form-label" for="full-name-applicant">
     Name of Applicant
    <span class="form-hint">Local authority or authorised person </span>
  </label>
  <input type="text" class="form-control" id="full-name-applicant" name="full-name-applicant" value="{{ data['la-full-name-applicant'] }}">
</div>
<!-- Contact name -->
<div class="form-group">
  <label class="form-label" for="full-name-respondent" >
    Name of Contact
    <span class="form-hint">Name of Local Authority person to contact </span>
  </label>
  <input type="text" class="form-control" id="respondent-name" name="la-contact-name" value="{{ data['la-contact-name'] }}">
</div>
			
	<!-- Job title -->
<div class="form-group">
  <label class="form-label" for="full-name-respondent" >
    Job Tite 
    <span class="form-hint">Job tite example social worker </span>
  </label>
  <input type="text" class="form-control" id="respondent-name" name="la-job-title" value="{{ data['la-job-title'] }}">
</div>		
			
			
			<!-- Applicant's Address -->
		<label class="form-label" for="textarea">
  Address
</label>
<textarea class="form-control form-control-3-4" name="applicant-address" id="textarea" rows="5" value="{{ data['la-applicant-address'] }}"></textarea>
			
			
			<!-- Contact number -->
<div class="form-group">
  <label class="form-label" for="full-name-respondent" >
    Telephone number
    <span class="form-hint"> Main contact number  </span>
  </label>
  <input type="text" class="form-control" id="la-contact-number" name="la-contact-number" value="{{ data['la-contact-number'] }}">
</div>
						<!-- Mobile  number -->
<div class="form-group">
  <label class="form-label" for="full-name-respondent" >
    Mobile number
    <span class="form-hint"> Mobile number  </span>
  </label>
  <input type="text" class="form-control" id="la-contact-number" name="la-mobile-number" value="{{ data['la-mobile-number'] }}">
</div>
			
			<!-- Mobile  number -->
<div class="form-group">
  <label class="form-label" for="full-name-respondent" >
    Mobile number
    <span class="form-hint"> Mobile number  </span>
  </label>
  <input type="text" class="form-control" id="la-contact-number" name="la-mobile-number" value="{{ data['la-mobile-number'] }}">
</div>	
			<!-- Mobile  number -->
<div class="form-group">
  <label class="form-label" for="la-email" >
    Email
    <span class="form-hint"> LA'S Email   </span>
  </label>
  <input type="text" class="form-control" id="la-email" name="la-email" value="{{ data['la-email'] }}">
</div>
			
				<!-- DX  number -->
<div class="form-group">
  <label class="form-label" for=" dx number" >
    DX number 
    <span class="form-hint"> DX number  </span>
  </label>
  <input type="text" class="form-control" id="dx-number" name="dx-number" value="{{ data['dx-number'] }}">
</div>
			<hr/>
			
							<!--Solicitor's Name-->
<div class="form-group">
  <label class="form-label" for=" dx number" >
    Solicitor's name 
    <span class="form-hint"> Solicitor's Full name  </span>
  </label>
  <input type="text" class="form-control" id="dx-number" name="la-solicitor-number" value="{{ data['la-solicitor-number'] }}">
</div>


 <input class="button" type="submit" value="Save and continue">

</form>
	 




    </div>
  </div>
</main>

{% endblock %}
