{% extends "layout.html" %}

{% block page_title %}

C110a Form - Children
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full column-minimum">
<div class="temp-notification"> </div>
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>

<nav role="navigation" class="progress-indicator reveal">
    <ol>
         <li class="active">
                <a data-nav-position="1 of 6: " href="c110a-01.html">
                    Applicant
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>   
		
		<li class="current">
                <a data-nav-position="2 of 6: " href="c110a-02.html">
                    Child(ren)
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="3 of 6: " href="c110a-03.html">
                    Respondent(s) 
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="4 of 6: " href="c110a-04.html">
                    Application
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="5 of 6: " href="c110a-05.html">
                    Documents
                    
                </a>
            </li>
		 <li class="inactive">
                <a data-nav-position="6 of 6: " href="c110a-06.html">
                    Review
                    
                </a>
            </li>
            
        <li class="show-all"><a style="visibility: visible;">Show all steps</a></li>
    </ol>
</nav>


      <h1 class="heading-large">
        Child(ren)’s Details 
      </h1>

		
		<form action="c110a-03">


<!-- Child Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Child’s full name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="child-1-full-name" name="full-name-child-1" value="{{ data['full-name-child-1'] }}">
</div>


<!-- Date of birth -->
<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label">
        What is the date of birth?
      </span>
      <span class="form-hint">For example, 31 3 1980</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="dob-day">Day</label>
        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="dob-month">Month</label>
        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="dob-year">Year</label>
        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
      </div>
    </div>
  </fieldset>
</div>
		
		
<!-- Gender class="inline" -->
		<div class="form-group">
    <fieldset >

      <legend>
        <span class="form-label">
          What is the child's gender?
        </span>
      </legend>

      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="gender-child-1" value="boy"  {{ checked('gender-child-1','Boy') }}>
        <label for="radio-inline-1">Boy</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="gender-child-1" value="Girl" {{ checked('gender-child-1','Girl') }}>
        <label for="radio-inline-2">Girl</label>
      </div>
		<div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="gender-child-1" value="Non-binary" {{ checked('gender-child-1','Non-binary') }}>
        <label for="radio-inline-2">Non-binary</label>
      </div>

    </fieldset>
  </div>
		<!-- Social worker detials-->	
			
<!-- Social worker's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Name of Social worker
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="social-worker-1-full-name" name="full-name-social">
</div>

			<div class="form-group">
  <div class="">
    <label class="form-label" for="example-phone-number">Social worker's telephone phone number <span class="form-hint">Mobile or landline</span></label>
    <input class="form-control" id="phone-number" name="social-worker-phone-number" type="text">
  </div>
</div>
			</br>
<!-- toggled content Child accommodated content -->

<div class="form-group">
  <fieldset>

    <legend>
      <span class="form-label">
        Is the child accommodated?
      </span>

    </legend>


    <div class="multiple-choice">
      <input id="child-accommodation" name="child-accommodation" type="radio" value="child-accommodation-no" name="child-accommodation-no">
      <label for="child-accommodation-no">No</label>
    </div>
    <div class="multiple-choice" data-target="example-different-country">
      <input id="child-accommodation" name="child-accommodation" type="radio" value="child-accommodation-yes">
      <label for="child-accommodation-yes">Yes</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="example-different-country">
      <label class="form-label" for="nationalities-other-country">If Yes, from what date?</label>


      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
		 <div class="panel"> 
<!-- Child's Address -->
		<label class="form-label" for="textarea">
  At which address does the child live?
</label>
<textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
		  </div>
      </div>
		  

    </div>

  </fieldset>
</div>
		
<!-- Mother's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Mother's Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="Mother-1-full-name">
</div>

<!-- Father's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Father's Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="Father-1-full-name">
</div>

<div class="panel-border-narrow panel inline">
        <legend>
          <h1 class="heading-small">

          </h1>
          <span class="body-text">Parental Responsibility</span>
        </legend>

        <div class="multiple-choice" >
          <input id="radio-parental-res-4" type="radio" name="radio-indent-group-4" value="yes">
          <label for="radio-parental-res-4">Yes</label>
        </div>
        <div class="multiple-choice" >
          <input id="radio-parental-res-4" type="radio" name="radio-indent-group-4" value="No">
          <label for="radio-parental-res-4">No</label>
        </div>
      </div>

<hr/>



<script>


var counter = 1;

var limit = 5;

function addInput(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<div class='form-group'></div><label class='form-label' for='child-2-full-name'> Child’s full name <span class='form-hint'>As shown on the birth certificate or passport</span></label> <input type='text' class='form-control' id='child-2-full-name'>";

          document.getElementById(divName).appendChild(newdiv);


          

          counter++;

     }

}


</script>


<!--<form method="POST">-->
     <div id="dynamicInput">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="button" value="Add Child" onClick="addInput('dynamicInput');">



<br/><br/>



<input class="button" type="submit" value="Save and continue">

</form>

	  <hr />
<details>

  <summary><span class="summary">Check your answers </span></summary>

  <div class="panel panel-border-narrow">
	  
	  
	  
      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Applicant Details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name of Applicant
          </dt>
          <dd class="cya-answer">
            {{ data['full-name-applicant'] }}
          </dd>
          <dd class="cya-change">
            <a href="c110a-01">
              Change<span class="visually-hidden"> Name of Applicant</span>
            </a>
          </dd>
        </div>

        

        

    <p>
     
    </p>

    

  </div>

</details>
<hr />
<a href=""> Return to this application later</a>

    </div>
  </div>
</main>

{% endblock %}
