
{% extends "layout-dft.html" %}

{% block pageTitle %}
  Value for Money (VfM) Database and Data Collection Tool
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" >
		
		
		
<nav role="navigation" class="progress-indicator reveal">
    <ol>
         <li class="inactive">
                <a data-nav-position="1 of 8: " href="s-1.html?change=false">
                    Section 1
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>   
		
		<li class="inactive">
                <a data-nav-position="2 of 8: " href="s-2.html?change=false">
                    Section 2
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>
            <li class="current">
                <a data-nav-position="3 of 8: " href="s-3.html?change=false">
                    Section 3
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="4 of 8: " href="s-4.html?change=false">
                    Section 4
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="5 of 8: " href="s-5.html?change=false">
                    Section 5
                    
                </a>
            </li>
		<li class="inactive">
                <a data-nav-position="5 of 8: " href="s-6.html?change=false">
                    Section 6
                    
                </a>
            </li>
		<li class="inactive">
                <a data-nav-position="5 of 8: " href="s-7.html?change=false">
                    Section 7
                    
                </a>
            </li>
		 <li class="inactive">
                <a data-nav-position="6 of 8: " href="s-8.html">
                    Review
                    
                </a>
            </li>
            
        <li class="show-all"><a style="visibility: visible;">Show all steps</a></li>
    </ol>
</nav>
		
		<form action="s-4.html">

      <h1 class="govuk-heading-l">
		   <!--<span class="govuk-caption-xl">  Department for transport</span>-->
      Section 3: Financial costs					
					
														
											
											
      </h1>
										 
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
     
        Financial transaction	
     
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
     Specify if project is a financial transaction. Chapter 8 of Consolidated Budgeting Guidance 2018-19 explains criteria for treatment as a financial transaction. For example, setting terms on bonds to be issued, bonds already issued where terms being renewed etc.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-1" name="financial-transaction" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-2" name="financial-transaction" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
		
		<h3 class="govuk-heading-m"> CDEL cost (£m) over period 19/20 to 23/24 (split by financial year)</h3>
			<span id="changed-name-hint" class="govuk-hint">
     Use latest costings, rather than pre-existing budgets. For a financial transaction, expenditure and income should be shown separately; they should sum together to give the net CDEL impact.
    </span>
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2019/20
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-19" name="cdel-costs-19" type="text"  value="{{ data['cdel-costs-19'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2020/21
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-20" name="cdel-costs-20" type="text" value="{{ data['cdel-costs-20'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2021/22
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-21" name="cdel-costs-21" type="text" value="{{ data['cdel-costs-21'] }}">
</div>
		
					<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2022/23
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-22" name="cdel-costs-22" type="text" value="{{ data['cdel-costs-22'] }}">
</div>
		
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2023/24
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-23" name="cdel-costs-23" type="text" value="{{ data['cdel-costs-23'] }}">
</div>
		
<h3 class="govuk-heading-m"> CDEL (£m) required beyond 23/24  (split by financial year) </h3>
			<span id="changed-name-hint" class="govuk-hint">
     Where a project will not be completed by the end of 2023-24, the CDEL necessary to complete the proposal in years after 20123-24 should be shown. It is not necessary to show the future costs of ongoing programmes (such a maintenance).
    </span>
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2024/25
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-24" name="cdel-costs-24" type="text"  value="{{ data['cdel-costs-14'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2025/26
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-25" name="cdel-costs-25" type="text" value="{{ data['cdel-costs-25'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2026/27
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-26" name="cdel-costs-26" type="text" value="{{ data['cdel-costs-26'] }}">
</div>
		
					<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2027/28
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-27" name="cdel-costs-27" type="text" value="{{ data['cdel-costs-27'] }}">
</div>
		
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2028/29
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-28" name="cdel-costs-28" type="text" value="{{ data['cdel-costs-28'] }}">
</div>
			
			<script>


var counter = 1;

var limit = 5;

function addInput(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<h2 class='govuk-heading-s'>Please note that in the real online application you will be able to add more dates. This prototype is for demo purpose only.</h2><div class='govuk-form-group'></div><label class='govuk-label' > 2029/30 </label> <input type='text' class='govuk-input govuk-input--width-5' id='cdel-costs-29'> <br/><br/>";

          document.getElementById(divName).appendChild(newdiv);




          counter++;

     }

}


</script>


<!--<form method="POST">-->
     <div id="dynamicInput">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="govuk-button" value="Add another" onClick="addInput('dynamicInput');">

			
			
			
			
			
					
<h3 class="govuk-heading-m"> Costs RDEL (£m) programme (split by financial year, 19/20 onwards) </h3>
			<span id="changed-name-hint" class="govuk-hint">
     Set out any supporting Resources DEL or AME costs or savings that result from the proposal by financial year. A -ve number represents a saving to the Exchequer, and a +ve number represents a cost to the Exchequer. All figures should exclude depreciation.
    </span>
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2024/25
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-24" name="cdel-costs-24" type="text"  value="{{ data['cdel-costs-14'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2019/20
  </label>
  <input class="govuk-input govuk-input--width-5" id="rdel-costs-19" name="rdel-costs-19" type="text" value="{{ data['rdel-costs-19'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2026/27
  </label>
  <input class="govuk-input govuk-input--width-5" id="rdel-costs-20" name="rdel-costs-20" type="text" value="{{ data['rdel-costs-20'] }}">
</div>
		
					<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2027/28
  </label>
  <input class="govuk-input govuk-input--width-5" id="rdel-costs-22" name="rdel-costs-22" type="text" value="{{ data['rdel-costs-22'] }}">
</div>
		
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2028/29
  </label>
  <input class="govuk-input govuk-input--width-5" id="rdel-costs-23" name="rdel-costs-23" type="text" value="{{ data['rdel-costs-23'] }}">
</div>
			
			<script>


var counter = 1;

var limit = 5;

function addInputB(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<h2 class='govuk-heading-s'>Please note that in the real online application you will be able to add more dates. This prototype is for demo purpose only.</h2><div class='govuk-form-group'></div><label class='govuk-label' > 2024/25 </label> <input type='text' class='govuk-input govuk-input--width-5' id='cdel-costs-24'> <br/><br/>";

          document.getElementById(divName).appendChild(newdiv);




          counter++;

     }

}


</script>


<!--<form method="POST">-->
     <div id="dynamicInputB">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="govuk-button" value="Add another" onClick="addInputB('dynamicInputB');">
			
			
			<div class="govuk-form-group">
  <label class="govuk-label" for="project-name">
    Total CDEL (£m) from current financial year onwards
  </label>
  <span id="project-name-hint" class="govuk-hint">
    (in nominal terms, i.e. do not adjust for inflation)

  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="total-cdel" name="total-cdel" type="text" value="{{ data['total-cdel'] }}">
	
  
</div>
			
			
			
			
			
			<div class="govuk-form-group">
  <label class="govuk-label" for="project-name">
   Total RDEL (£m) from current financial year onwards
  </label>
  <span id="project-name-hint" class="govuk-hint">
    (in nominal terms, i.e. do not adjust for inflation)

  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="total-cdel" name="total-rdel" type="text" value="{{ data['total-rdel'] }}">
	
  
</div>

     <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
     
        Construction price inflation		
     
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
     Please say whether construction price inflation has been used in the appraisal in relation to either altering the costs or benefits.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-1" name="financial-transaction" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-2" name="financial-transaction" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
		

    

		
		
	
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
     
      R&D Spending		
     
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
     Please indicate if this is an R&D project - i.e. one to increase the stock and use of knowledge to discover or develop new products, including improved versions or qualities of existing products.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-1" name="financial-transaction" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-2" name="financial-transaction" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
		
				<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
     
    Contractual commitment			
     
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
    Have any contracted commitments been made to deliver this product?
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-1" name="financial-transaction" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="financial-transaction-2" name="financial-transaction" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
		
			
			

		
		
		<button type="submit" class="govuk-button">
  Save and continue
</button>
		
		</form>
    </div>

    <div class="govuk-grid-column-one-third" style="display: none;">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
