
{% extends "layout-dft.html" %}

{% block pageTitle %}
  Value for Money (VfM) Database and Data Collection Tool
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" >
		
		
		
<nav role="navigation" class="progress-indicator reveal">
    <ol>
         <li class="inactive">
                <a data-nav-position="1 of 8: " href="s-1.html?change=false">
                    Section 1
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>   
		
		<li class="inactive">
                <a data-nav-position="2 of 8: " href="s-2.html?change=false">
                    Section 2
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="3 of 8: " href="s-3.html?change=false">
                    Section 3
                    
                </a>
            </li>
            <li class="current">
                <a data-nav-position="4 of 8: " href="s-4.html?change=false">
                    Section 4
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="5 of 8: " href="s-5.html?change=false">
                    Section 5
                    
                </a>
            </li>
		<li class="inactive">
                <a data-nav-position="5 of 8: " href="s-6.html?change=false">
                    Section 6
                    
                </a>
            </li>
		<li class="inactive">
                <a data-nav-position="5 of 8: " href="s-7.html?change=false">
                    Section 7
                    
                </a>
            </li>
		 <li class="inactive">
                <a data-nav-position="6 of 8: " href="s-8.html">
                    Review
                    
                </a>
            </li>
            
        <li class="show-all"><a style="visibility: visible;">Show all steps</a></li>
    </ol>
</nav>
		
		<form action="s-5.html">

      <h1 class="govuk-heading-l">
		   <!--<span class="govuk-caption-xl">  Department for transport</span>-->
      Section 4: Economic costs					
					
									
					
														
											
											 </h1>
			
			
			
			
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
      <h1 class="govuk-fieldset__heading">
       Appraisal start year	
      </h1>
    </legend>
    <span id="dob-hint" class="govuk-hint">
      For example, 2015/16
    </span>
    <div class="govuk-date-input" id="dob">
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="appraisal-start-year">
           
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="appraisal-start-year" name="appraisal-start-year" type="number">
        </div>
      </div>
    </div>
  </fieldset>
</div>
			
			
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
      <h1 class="govuk-fieldset__heading">
       Appraisal end year	
      </h1>
    </legend>
    <span id="dob-hint" class="govuk-hint">
      For example, 2028/29
    </span>
    <div class="govuk-date-input" id="dob">
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="appraisal-end-year">
           
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="appraisal-end-year" name="appraisal-end-year" type="number" >
        </div>
      </div>
    </div>
  </fieldset>
</div>
		
			
	<h3 class="govuk-heading-m"> Public Costs (£m) </h3>
			<span id="changed-name-hint" class="govuk-hint">
     (undiscounted and deflated) (split by financial year, from the beginning to the end of the appraisal period)
    </span>
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2024/25
  </label>
  <input class="govuk-input govuk-input--width-5" id="public-costs-24" name="public-costs-24" type="text"  value="{{ data['public-costs-14'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2025/26
  </label>
  <input class="govuk-input govuk-input--width-5" id="public-costs-25" name="public-costs-25" type="text" value="{{ data['public-costs-25'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2026/27
  </label>
  <input class="govuk-input govuk-input--width-5" id="public-costs-26" name="public-costs-26" type="text" value="{{ data['public-costs-26'] }}">
</div>
		
					<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2027/28
  </label>
  <input class="govuk-input govuk-input--width-5" id="public-costs-27" name="public-costs-27" type="text" value="{{ data['public-costs-27'] }}">
</div>
		
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2028/29
  </label>
  <input class="govuk-input govuk-input--width-5" id="public-costs-28" name="public-costs-28" type="text" value="{{ data['public-costs-28'] }}">
</div>
			
			<script>


var counter = 1;

var limit = 15;

function addInput(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<h2 class='govuk-heading-s'>Please note that in the real online application you will be able to add more dates. This prototype is for demo purpose only.</h2><div class='govuk-form-group'></div><label class='govuk-label' > 2029/30 </label> <input type='text' class='govuk-input govuk-input--width-5' id='public-costs-29'> <br/><br/>";

          document.getElementById(divName).appendChild(newdiv);




          counter++;

     }

}


</script>


<!--<form method="POST">-->
     <div id="dynamicInput">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="govuk-button" value="Add another" onClick="addInput('dynamicInput');">

			
			
			
			
			
					
	<h3 class="govuk-heading-m"> PVC Discounted (£m) </h3>
			<span id="changed-name-hint" class="govuk-hint">
     (split by financial year, from the beginning to the end of the appraisal period)

    </span>
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2024/25
  </label>
  <input class="govuk-input govuk-input--width-5" id="PVC-discounted-costs-24" name="PVC-discounted-costs-24" type="text"  value="{{ data['PVC-discounted-costs-14'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2025/26
  </label>
  <input class="govuk-input govuk-input--width-5" id="PVC-discounted-costs-25" name="PVC-discounted-costs-25" type="text" value="{{ data['PVC-discounted-costs-25'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2026/27
  </label>
  <input class="govuk-input govuk-input--width-5" id="PVC-discounted-costs-26" name="PVC-discounted-costs-26" type="text" value="{{ data['PVC-discounted-costs-26'] }}">
</div>
		
					<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2027/28
  </label>
  <input class="govuk-input govuk-input--width-5" id="PVC-discounted-costs-27" name="PVC-discounted-costs-27" type="text" value="{{ data['PVC-discounted-costs-27'] }}">
</div>
		
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2028/29
  </label>
  <input class="govuk-input govuk-input--width-5" id="PVC-discounted-costs-28" name="PVC-discounted-costs-28" type="text" value="{{ data['PVC-discounted-costs-28'] }}">
</div>
			
			<script>


var counter = 1;

var limit = 15;

function addInput(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<h2 class='govuk-heading-s'>Please note that in the real online application you will be able to add more dates. This prototype is for demo purpose only.</h2><div class='govuk-form-group'></div><label class='govuk-label' > 2029/30 </label> <input type='text' class='govuk-input govuk-input--width-5' id='PVC-discounted-costs-29'> <br/><br/>";

          document.getElementById(divName).appendChild(newdiv);




          counter++;

     }

}


</script>


<!--<form method="POST">-->
     <div id="dynamicInput-b">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="govuk-button" value="Add another" onClick="addInput('dynamicInput-b');">

			
			
			
			
			<!-- input -->
			
		<div class="govuk-form-group">
  <label class="govuk-label" for="PVC-discounted">
    PVC Discounted / Sum of discounted economic costs over project lifetime	
	
  </label>
  <span id="PVC-discounted-hint" class="govuk-hint">
    This is the sum of the PVC (discounted net public costs) across the life of the proposal expressed in £ million.
  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="PVC-discounted" name="PVC-discounted" type="text" value="{{ data['PVC-discounted'] }}">
	
  
</div>			
			
			<!-- input -->
			
		<div class="govuk-form-group">
  <label class="govuk-label" for="present-cost">
    Present value cost to DfT	
	
  </label>
  <span id="present-cost-hint" class="govuk-hint">
    The total cost to DfT of the project/ programme For example, the total cost minus Local Authority spending.
  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="present-cost" name="present-cost" type="text" value="{{ data['present-cost'] }}">
	
  
</div>			
		
				<!-- input -->
			
		<div class="govuk-form-group">
  <label class="govuk-label" for="gross-present-cost">
    Gross present value cost		
	
  </label>
  <span id="gross-present-cost-hint" class="govuk-hint">
    Some projects have a negative PVC due to efficiency gains/revenues returned to the Broad Transport Budget. In these cases, please report the gross PVC (total £m invested by DfT)
  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="gross-present-cost" name="gross-present-cost" type="text" value="{{ data['gross-present-cost'] }}">
	
  
</div>	
			
					<!-- input -->
			
		<div class="govuk-form-group">
  <label class="govuk-label" for="net-present-cost">
    Net present value cost			
	
  </label>
  <span id="net-present-cost-hint" class="govuk-hint">
    Some projects have a negative PVC due to efficiency gains/revenues returned to the Broad Transport Budget. In these cases, please report the net PVC (gross efficiency gains or revenue).
  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="net-present-cost" name="net-present-cost" type="text" value="{{ data['net-present-cost'] }}">
	
  
</div>	
		
			

			
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
      <h1 class="govuk-fieldset__heading">
       Price base year	
      </h1>
    </legend>
    <span id="price-base-year-hint" class="govuk-hint">
      For example, 2015/16
    </span>
    <div class="govuk-date-input" id="price-base-year">
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="price-base-year">
           
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="price-base-year" name="price-base-year" type="number" >
        </div>
      </div>
    </div>
  </fieldset>
</div>
		
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--">
      <h1 class="govuk-fieldset__heading">
     Discount base year		
      </h1>
    </legend>
    <span id="discount-base-year-hint" class="govuk-hint">
      For example, 2015/16
    </span>
    <div class="govuk-date-input" id="discount-base-year">
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="discount-base-year">
           
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="discount-base-year" name="discount-base-year" type="number" >
        </div>
      </div>
    </div>
  </fieldset>
</div>
				

    

		<!-- Input feild-->

<div class="govuk-form-group">
  <label class="govuk-label govuk-!-width-one-half" for="name-of-programme">
    <span class="govuk-label---s">  Optimisim Bias Adjustment (%)	</span>
	  
	 
  </label>
	  <span id="optimisim-bias-hint" class="govuk-hint">
    For example, 41.00% or enter the capital costs and the operating costs
  </span>
  <input class="govuk-input govuk-!-width-one-half" id="division" name="division" type="text" value="{{ data['division'] }}">
</div>
		
		
		
		
		<!--  Discount rate approach	-->
		<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend ">

  
     Discount rate approach	

    </legend>
    <div class="govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="project-type-conditional-1" name="project-type" type="radio" value="Standalone project" {{ checked('project-type','Standalone project') }} data-aria-controls="conditional-project-type-conditional-1">
        <label class="govuk-label govuk-radios__label" for="project-type-conditional-1">
     Standard WebTAG discount rate 
      </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="project-type-conditional-2" name="project-type" type="radio" value="Project within a programme" {{ checked('project-type','Project within a programme') }} data-aria-controls="conditional-project-type-conditional-2">
        <label class="govuk-label govuk-radios__label" for="child-1-gender-conditional-2">
       Nominal discount rate
      </label>
      </div>
		
		 <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="project-type-conditional-3" name="project-type" type="radio" value="Competitive fund" {{ checked('project-type','Competitive fund') }} data-aria-controls="conditional-project-type-conditional-3">
        <label class="govuk-label govuk-radios__label" for="project-type-conditional-3">
      Life and health effects discount rate
      </label>
      </div>
		
		

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="project-type-conditional-4" name="project-type" type="radio" value="Others" {{ checked('child-1-gender','Others') }} data-aria-controls="conditional-project-type-conditional-4">
        <label class="govuk-label govuk-radios__label" for="project-type-conditional-4">
       Others
      </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-project-type-conditional-4">
        <div class="govuk-form-group">
          <label class="govuk-label" for="project-type-text">
    Please specify
  </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="project-type-others" type="text" value="{{ data['project-type-others'] }}">
        </div>

      </div>
    </div>
  </fieldset>
</div>

		
		<!-- Input feild-->

<div class="govuk-form-group">
  <label class="govuk-label govuk-!-width-one-half" for="name-of-programme">
    <span class="govuk-label---s">  Discount Rate Value
</span>
  </label>
	 <span id="optimisim-bias-hint" class="govuk-hint">
    
Specify the discount rates used across the appraisal period as follows: xx.x% for years 01-yy; xx.x% for years yy-yy etc.
  </span>
  <input class="govuk-input govuk-!-width-one-half" id="name-of-programme" name="name-of-programme" type="text" value="{{ data['name-of-programme'] }}">
</div>
		<!--  Inflation Rate -->
		<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend ">

     Inflation Rate		
	

    </legend>
    <div class="govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="inflation-rate-conditional-1" name="inflation-rate" type="radio" value="GDP deflator" {{ checked('inflation-rate','GDP deflator') }} data-aria-controls="conditional-inflation-rate-conditional-1">
        <label class="govuk-label govuk-radios__label" for="inflation-rate-conditional-1">
   GDP deflator
      </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="inflation-rate-conditional-2" name="inflation-rate" type="radio" value="Bespoke rate" {{ checked('inflation-rate','Bespoke rate') }} data-aria-controls="conditional-inflation-rate-conditional-2">
        <label class="govuk-label govuk-radios__label" for="inflation-rate-conditional-2">
   Bespoke rate
      </label>
      </div>
		
	

      
      
    </div>
  </fieldset>
</div>

	<!--  textarea -->
		<div class="govuk-form-group">
          <label class="govuk-label" for="WebTAG-datebook">
 Please state version of WebTAG datebook this comes from
	
  </label>
    <textarea class="govuk-textarea govuk-!-width-two-thirds" id="WebTAG-datebook" name="WebTAG-datebook" rows="3" aria-describedby="WebTAG-datebook-hint">{{ data['WebTAG-datebook'] }}</textarea>
        </div>
		
			
			
			<h3 class="govuk-heading-m"> Revenue </h3>
			<span id="changed-name-hint" class="govuk-hint">
     (In real terms and discounted, split by financial year, from the beginning to the end of the appraisal period)
    </span>
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2024/25
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-24" name="cdel-costs-24" type="text"  value="{{ data['cdel-costs-14'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2025/26
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-25" name="cdel-costs-25" type="text" value="{{ data['cdel-costs-25'] }}">
</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2026/27
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-26" name="cdel-costs-26" type="text" value="{{ data['cdel-costs-26'] }}">
</div>
		
					<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2027/28
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-27" name="cdel-costs-27" type="text" value="{{ data['cdel-costs-27'] }}">
</div>
		
			<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    2028/29
  </label>
  <input class="govuk-input govuk-input--width-5" id="cdel-costs-28" name="cdel-costs-28" type="text" value="{{ data['cdel-costs-28'] }}">
</div>
			
			<script>


var counter = 1;

var limit = 15;

function addInput(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<h2 class='govuk-heading-s'>Please note that in the real online application you will be able to add more dates. This prototype is for demo purpose only.</h2><div class='govuk-form-group'></div><label class='govuk-label' > 2029/30 </label> <input type='text' class='govuk-input govuk-input--width-5' id='cdel-costs-29'> <br/><br/>";

          document.getElementById(divName).appendChild(newdiv);




          counter++;

     }

}


</script>


<!--<form method="POST">-->
     <div id="dynamicInput-c">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="govuk-button" value="Add another" onClick="addInput('dynamicInput-c');">

			
			
			
			
			
			
			
			<!--  textarea -->
		<div class="govuk-form-group">
          <label class="govuk-label" for="revenue-forecast-assumptions">
Revenue forecast assumptions	
	
  </label>
    <textarea class="govuk-textarea govuk-!-width-two-thirds" id="revenue-forecast-assumptions" name="revenue-forecast-assumptions" rows="3" aria-describedby="revenue-forecast-assumptions-hint">{{ data['revenue-forecast-assumptions'] }}</textarea>
        </div>
		
			
			
		
		
		<button type="submit" class="govuk-button">
  Save and continue
</button>
		
		</form>
    </div>

    <div class="govuk-grid-column-one-third" style="display: none;">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
