
{% extends "layout-dft.html" %}

{% block pageTitle %}
  Value for Money (VfM) Database and Data Collection Tool
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" >
		
		
		
<nav role="navigation" class="progress-indicator reveal">
    <ol>
         <li class="inactive">
                <a data-nav-position="1 of 8: " href="s-1.html?change=false">
                    Section 1
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>   
		
		<li class="inactive">
                <a data-nav-position="2 of 8: " href="s-2.html?change=false">
                    Section 2
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="3 of 8: " href="s-3.html?change=false">
                    Section 3
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="4 of 8: " href="s-4.html?change=false">
                    Section 4
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="5 of 8: " href="s-5.html?change=false">
                    Section 5
                    
                </a>
            </li>
		<li class="current">
                <a data-nav-position="5 of 8: " href="s-6.html?change=false">
                    Section 6
                    
                </a>
            </li>
		<li class="inactive">
                <a data-nav-position="5 of 8: " href="s-7.html?change=false">
                    Section 7
                    
                </a>
            </li>
		 <li class="inactive">
                <a data-nav-position="6 of 8: " href="s-8.html">
                    Review
                    
                </a>
            </li>
            
        <li class="show-all"><a style="visibility: visible;">Show all steps</a></li>
    </ol>
</nav>
		
		<form action="s-7.html">

      <h1 class="govuk-heading-l">
		   <!--<span class="govuk-caption-xl">  Department for transport</span>-->
        Section 6: Value for money assessment </h1>
			
			
			
			
			<div class="govuk-form-group">
  <label class="govuk-label" for="project-name">
    Net present value	
  </label>
  <span id="project-name-hint" class="govuk-hint">
    NPV, including wider economic benefits, expressed in price base year prices. Is derived by submitted ‘net present value cost’ from ‘PVB discounted.’
  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="project-name" name="net-present-value" type="text" value="{{ data['net-present-value'] }}">

</div>
			
			<div class="govuk-form-group">
  <label class="govuk-label" for="npv">
    NPV/£		
  </label>
  <span id="npv-hint" class="govuk-hint">
    It divides the New Present Value with each proposal by its CDEL cost to show the returns to the economy of each pound of CDEL. This is the basis on which proposals will be compared across government
  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="npv" name="npv" type="text" value="{{ data['npv'] }}">

</div>
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="initial-BCR">
   Initial BCR			
  </label>
  <span id="initial-BCR-hint" class="govuk-hint">
   Should include all established monetised impacts (For example, journey time savings, operating costs, air quality, indirect tax etc.) and be for the central case. See DfT VfM Framework page 21-22 for details.

  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="initial-BCR" name="initial-BCR" type="text" value="{{ data['initial-BCR'] }}">

</div>
		
					<div class="govuk-form-group">
  <label class="govuk-label" for="adjusted-BCR">
   Adjusted BCR				
  </label>
  <span id="adjusted-BCR-hint" class="govuk-hint">
   Should cover all impacts within the initial BCR and evolving monetised impacts (For example, reliability, static clustering, labour supply); and be for the central case.  See DfT VfM Framework page 21-22 for details.

  </span>
	
	<input class="govuk-input govuk-!-width-one-half" id="adjusted-BCR" name="adjusted-BCR" type="text" value="{{ data['adjusted-BCR'] }}">

</div>
		
		<!--  Value for Money (VfM) Category -->
		<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend ">

  
      Value for Money (VfM) Category 

    </legend>
	  
	  <span id="vfm-category-hint" class="govuk-hint">
The VfM category is based on the assessment on the assessment of  a project’s benefits and costs. In most cases the adjusted BCR or NPV will provide a good indication of the a project. See 5, 6 and 7 in supplementary VfM Framework guidance on categories for more info.


  </span>
    <div class="govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="vfm-category-conditional-1" name="vfm-category" type="radio" value="High" {{ checked('vfm-category','High') }} data-aria-controls="conditional-vfm-category-conditional-1">
        <label class="govuk-label govuk-radios__label" for="vfm-category-conditional-1">
     High
      </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="vfm-category-conditional-2" name="vfm-category" type="radio" value="Low" {{ checked('vfm-category','Low') }} data-aria-controls="conditional-vfm-category-conditional-2">
        <label class="govuk-label govuk-radios__label" for="vfm-category-conditional-2">
      Low
      </label>
      </div>
		
		

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="vfm-category-conditional-3" name="vfm-category" type="radio" value="Others" {{ checked('vfm-category','Others') }} data-aria-controls="conditional-vfm-category-conditional-5">
        <label class="govuk-label govuk-radios__label" for="vfm-category-conditional-5">
       Others
      </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-vfm-category-conditional-5">
        <div class="govuk-form-group">
          <label class="govuk-label" for="vfm-category-text">
    Please specify
  </label>
            <input class="govuk-input govuk-!-width-one-third" id="vfm-category-text" name="vfm-category-others" type="text" value="{{ data['vfm-category-others'] }}">
        </div>

      </div>
    </div>
  </fieldset>
</div>

		
			
			
			
			
			<!--  textarea -->
		<div class="govuk-form-group">
          <label class="govuk-label" for="vfm-category-specifics">
  VfM Category Specifics <br>(state reasons why VfM category is does not align with adjusted BCR, if applicable - otherwise put N/A)	
  </label>
			<span id="vfm-category-specifics-hint" class="govuk-hint">
If the VfM category is not aligned with the adjusted BCR and has been uplifted or downgraded following consideration of indicatively monetised or non-monetised impacts, reasons for this should be included here.



  </span>
    <textarea class="govuk-textarea govuk-!-width-two-thirds" id="vfm-category-specifics" name="vfm-category-specifics" rows="3" aria-describedby="vfm-category-specifics-hint">{{ data['vfm-category-specifics'] }}</textarea>
        </div>
		
			
			
			
			
			
			
			
			
			
			
			
			
			
		
		
		
		<button type="submit" class="govuk-button">
  Save and continue
</button>
		
		</form>
    </div>

    <div class="govuk-grid-column-one-third" style="display: none;">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
