
{% extends "layout-dft.html" %}

{% block pageTitle %}
  Value for Money (VfM) Database and Data Collection Tool
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" >
		
		
		
<nav role="navigation" class="progress-indicator reveal">
    <ol>
         <li class="inactive">
                <a data-nav-position="1 of 8: " href="s-1.html?change=false">
                    Section 1
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>   
		
		<li class="inactive">
                <a data-nav-position="2 of 8: " href="s-2.html?change=false">
                    Section 2
                    <span class="visuallyhidden"> - current step</span>
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="3 of 8: " href="s-3.html?change=false">
                    Section 3
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="4 of 8: " href="s-4.html?change=false">
                    Section 4
                    
                </a>
            </li>
            <li class="inactive">
                <a data-nav-position="5 of 8: " href="s-5.html?change=false">
                    Section 5
                    
                </a>
            </li>
		<li class="inactive">
                <a data-nav-position="5 of 8: " href="s-6.html?change=false">
                    Section 6
                    
                </a>
            </li>
		<li class="current">
                <a data-nav-position="5 of 8: " href="s-7.html?change=false">
                    Section 7
                    
                </a>
            </li>
		 <li class="inactive">
                <a data-nav-position="6 of 8: " href="s-8.html">
                    Review
                    
                </a>
            </li>
            
        <li class="show-all"><a style="visibility: visible;">Show all steps</a></li>
    </ol>
</nav>
		
		<form action="s-8.html">

      <h1 class="govuk-heading-l">
		   <!--<span class="govuk-caption-xl">  Department for transport</span>-->
        Section 7: Assumptions and assurance					
					
									
					
								
					
									
					
									
					
														
											
											 </h1>
			
			
			<h2 class="govuk-heading-m"> Assumptions and modelling	</h2>
			
			
			<div class="govuk-form-group">
  <label class="govuk-label" for="Group">
    Demand cap assumption: year of cap	
  </label>
				<span id="project-name-hint" class="govuk-hint">
   Please state whether demand has been in a particular year when appraising this project, as is recommended in WebTAG

  </span>
  <select class="govuk-select" id="Group" name="demand-cap">
    <option value="No Cap" selected >No Cap </option>
    <option value="2010"  >2010</option>
    <option value="2011"  >2011</option>
    <option value="2012"  >2012</option>
	<option value="2013"  >2013</option>
    <option value="2014"  >2014</option>
    <option value="2015"  >2015</option>
	<option value="2016"  >2016</option>
    <option value="2017"  >2017</option>
    <option value="2018"  >2018</option> 
  </select>
</div>
		
			
			
			
			<div class="govuk-form-group">
  <label class="govuk-label" for="Group">
Demand cap assumption: how many years into the appraisal cap occurs	
	
  </label>
				<span id="project-name-hint" class="govuk-hint">
   Please state how many years into appraisal period, a demand cap occurs when appearing this project, as is recommended in WebTAG

  </span>
  <select class="govuk-select" id="Group" name="demand-cap-appraisal">
    <option value="No Cap" selected >No Cap </option>
    <option value="Year 1 of appraisal"  >Year 1 of appraisal</option>
    <option value="Year 2 of appraisal"  >Year 2 of appraisal</option>
    <option value="Year 3 of appraisal"  >Year 3 of appraisal</option>
	<option value="Year 4 of appraisal"  >Year 4 of appraisal</option>
    <option value="Year 5 of appraisal"  >Year 5 of appraisal</option>
    <option value="Year 6 of appraisal"  >Year 6 of appraisal</option>
	<option value="Year 7 of appraisal"  >Year 7 of appraisal</option>
    <option value="Year 8 of appraisal"  >Year 8 of appraisal</option>
    <option value="Year 9 of appraisal"  >Year 9 of appraisal</option> 
  </select>
</div>
		
			
			
		
			<div class="govuk-form-group">
  <label class="govuk-label" for="Group">
NTEM version used	
	
  </label>
			
  <select class="govuk-select" id="Group" name="demand-cap-ntem">
    <option value="No Cap" selected >No Cap </option>
    <option value="2010"  >2010</option>
    <option value="2011"  >2011</option>
    <option value="2012"  >2012</option>
	<option value="2013"  >2013</option>
    <option value="2014"  >2014</option>
    <option value="2015"  >2015</option>
	<option value="2016"  >2016</option>
    <option value="2017"  >2017</option>
    <option value="2018"  >2018</option> 
  </select>
</div>
		
			
			
			<!--  textarea -->
		<div class="govuk-form-group">
          <label class="govuk-label" for="strategic-model">
  Strategic Model and version used (state any strategic models used including version)	
		
  </label>
			<span id="strategic-model-hint" class="govuk-hint">
Which strategic level model has been used for assessing user benefits and which version of the strategic model was used and any other data sources used. For example, forecasts (RTF,PDFH) or models (MOIRA, PLANET ETC.) and vsrsion (PDFH 6)

  </span>
    <textarea class="govuk-textarea govuk-!-width-two-thirds" id="strategic-model" name="strategic-model" rows="3" aria-describedby="strategic-model-hint">{{ data['strategic-model'] }}</textarea>
        </div>
		
			
			
			
			<!--  wider impacts -->
		<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend ">

     Wider Impacts in Transport Appraisal (WITA) use		
	
	

    </legend>
	  <span id="wider-impacts-hint" class="govuk-hint">
Whether the idea impacts in Transport Appraisal model (WITA) was used to assess wider economic impacts. 

  </span>
	  
	  
    <div class="govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="wider-impacts-conditional-1" name="wider-impacts" type="radio" value="Yes" {{ checked('wider-impacts','No') }} data-aria-controls="conditional-wider-impacts-conditional-1">
        <label class="govuk-label govuk-radios__label" for="wider-impacts-conditional-1">
  No
      </label>
      </div>

      
		
		
		
	

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="wider-impacts-conditional-2" name="wider-impacts" type="radio" value="Yes" {{ checked('wider-impacts','Yes') }} data-aria-controls="conditional-wider-impacts-conditional-2">
        <label class="govuk-label govuk-radios__label" for="wider-impacts-conditional-2">
      Yes
      </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-wider-impacts-conditional-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="wider-impacts-text">
    Please state which version used
  </label>
            <input class="govuk-input govuk-!-width-one-third" id="wider-impacts-text" name="wider-impacts-yes" type="text" value="{{ data['wider-impacts-yes'] }}">
        </div>

      </div>
    </div>
  </fieldset>
</div>
		
			
			<h2 class="govuk-heading-m"> Additional evidence	</h2>
			
			
			
			<!--  textarea -->
		<div class="govuk-form-group">
          <label class="govuk-label" for="supporting-sources">
  Supporting sources of analysis	
	
		
  </label>
			<span id="supporting-sources-hint" class="govuk-hint">
Please state any other analysis conducted outside of appraisal and modelling that has supported the VfM assessment and conclusions reached for this project.

  </span>
    <textarea class="govuk-textarea govuk-!-width-two-thirds" id="supporting-sources" name="supporting-sources" rows="3" aria-describedby="supporting-sources-hint">{{ data['supporting-sources'] }}</textarea>
        </div>
		
			
			
			<!--  textarea -->
		<div class="govuk-form-group">
          <label class="govuk-label" for="other-evidence">
 Other evidence/information	
	
	
		
  </label>
			<span id="other-evidence-hint" class="govuk-hint">
Please state any other comments, including on analysis conducted outside of appraisal and modelling that has supported the conclusions reached for this project.

  </span>
    <textarea class="govuk-textarea govuk-!-width-two-thirds" id="other-evidence" name="other-evidence" rows="3" aria-describedby="other-evidence-hint">{{ data['other-evidence'] }}</textarea>
        </div>
			
		
			
			<h2 class="govuk-heading-m"> Assurance	</h2>
			
			
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="Group">
Analytical Assurance Rating	
	
  </label>
					<span id="delivery-risks-hint" class="govuk-hint">
Please select relevant AAA rating for VfM and analysis. Refer to strength in numbers for more info

  </span>
			
  <select class="govuk-select" id="analytical-assurance-rating" name="analytical-assurance-rating">
    <option value="Medium" selected >Medium </option>
    <option value="10"  >10</option>
    <option value="11"  >11</option>
    <option value="12"  >12</option>
	<option value="13"  >13</option>
    <option value="14"  >14</option>
    <option value="15"  >15</option>
	<option value="16"  >16</option>
    <option value="17"  >17</option>
    <option value="18"  >18</option> 
  </select>
</div>
		
			
			
			<!--  textarea -->
		<div class="govuk-form-group">
          <label class="govuk-label" for="delivery-risks">
 Delivery Risks	
	
	
		
  </label>
			<span id="delivery-risks-hint" class="govuk-hint">
Please state any risks to delivery of the project that you are aware of

  </span>
    <textarea class="govuk-textarea govuk-!-width-two-thirds" id="delivery-risks" name="delivery-risks" rows="3" aria-describedby="delivery-risks-hint">{{ data['delivery-risks'] }}</textarea>
        </div>
		
			
				<div class="govuk-form-group">
  <label class="govuk-label" for="Group">
Risk - BICC portfolio IPA rating (Delivery Confidence Assessment) ratings (if not applicable, put N/A)	
	
	
  </label>
				
			
  <select class="govuk-select" id="risk-bicc" name="risk-bicc">
    <option value="N/A" selected >N/A </option>
    <option value="10"  >10</option>
    <option value="11"  >11</option>
    <option value="12"  >12</option>
	<option value="13"  >13</option>
    <option value="14"  >14</option>
    <option value="15"  >15</option>
	<option value="16"  >16</option>
    <option value="17"  >17</option>
    <option value="18"  >18</option> 
  </select>
</div>
			
		
		
		<button type="submit" class="govuk-button">
  Save and continue
</button>
		
		</form>
    </div>

    <div class="govuk-grid-column-one-third" style="display: none;">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
